<launch>
	<!-- run progetto_tesi node -->
<include file="/opt/ros/kinetic/share/openni_launch/launch/openni.launch"/>
<!--	<arg name="depth_frame_id" value = "camera_depth_frame"/> -->
<node pkg = "new_progetto_tesi" type = "obstacles_mapper_2d_node" name = "obstacles_mapper_2d_node"/>
<node pkg = "new_progetto_tesi" type = "apf_planner_node" name = "apf_planner_node"/>


<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link_tf" args="0.15 0 0.095 0 0 0 base_link camera_link 1000" />
<!--<node pkg="tf" type="static_transform_publisher" name="camera_link_to_camera_depth_frame_tf" args="0 0 0 0 0 0 camera_link camera_depth_frame 10" />
<node pkg="tf" type="static_transform_publisher" name="camera_depth_frame_to_camera_depth_optical_frame_tf" args="0 0 0 0 0 0 camera_depth_frame camera_depth_optical_frame 10" />
<node pkg="tf" type="static_transform_publisher" name="camera_depth_optical_frame_to_camera_rgb_frame_tf" args="0 0 0 0 0 0 camera_link camera_rgb_frame 10" />
<node pkg="tf" type="static_transform_publisher" name="camera_rgb_frame_to_camera_rgb_optical_frame_tf" args="0 0 0 0 0 0 camera_rgb_frame camera_rgb_optical_frame 10" />
-->
</launch>
